/[0-9]*/
/constant/boundaryData/
/constant/meshToMesh_*/
/constant/polyMesh/
/constant/triSurface/
/dynamicCode/
/extendedFeatureEdgeMesh/
/logs/
/postProcessing*/
/processor*/
/VTK/

[add,mag]*(*)
[cell,point]*Level
[cell,point]*ToRegion
*.blockMesh
*.foam
*.log
*.OpenFOAM
log.*
